p {
	font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
}

p {
	font-size: 16px
}

h1 {
	font-weight: bold;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	font-size: 50px
}